.event {
    padding: 40px 0 150px 
}

.reserve {
    display: grid;
    gap: 65px 11%;
    grid-template-columns: 405px calc(89% - 405px);
    grid-template-areas: 
    "shecks scheme"
    "order legend";
    width: 100%;
}

.reserve__cheks {
    grid-area: checks;
}

.reserve__order {
    grid-area: order;
}

.reserver__scheme {
    grid-area: scheme;
}

.reserve__legend {
    grid-area: legend;
} 
